html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline
}
html {
	height:100%
}
body {
	overflow:hidden;
	width:100%;
	height:100%;
	background-color:#000;
	color:#fff
}
.hover:hover {
	cursor:pointer
}

#autoplay {
	position:absolute;
	top:-23px;
	right:140px;
	width:20px;
	z-index:999;
	height:20px;
	background-image:url("../images/autoplay.png")
}

#autoplay.disabled {
	background-position:0px -20px
}
#sound.disabled {
	background-position:0px -20px
}
#separation {
	position:absolute;
	top:-23px;
	right:128px;
	margin-left:513px;
	width:8px;
	height:20px;
	z-index:999;
	background-image:url("../images/separation.png")
}
#sound {
	position:absolute;
	top:-23px;
	right:104px;
	width:20px;
	z-index:999;
	height:20px;
	background-image:url("../images/sound.png")
}

#progress {
	position:absolute;
	bottom:0px;
	left:0px;
	width:0%;
	height:100%;
	background-color:#fff
}
#processing {
	position:absolute;
	bottom:50px;
	left:50%;
	width:77px;
	height:17px;
	margin-left:-38px;
	background-image:url("../images/loader.png");
}

#scrollBar {
	position:absolute;
	z-index:1000;
	top:0px;
	height:100%;
	right:0px;
	width:7px;
	background-color:#333;
	z-index:999;
}
#scene {
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	color:#000;
}
#container {
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	color:#000;
}

#slot {
	position:absolute;
	width:100%;
	height:100%;
/* 	width: 1280px; */
/* 	height: 720px; */
/* 	background-color:#fff; */
/* 	background-color:#000; */
/* 	color:#000; */
	background: transparent url(../images/bg.png) 0 0 no-repeat;
	z-index:998;
}

.section {
	width: 1280px;
	height: 720px;
}


/*--------------------------- s3-s0 intro */
#s3-s0 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
/* 	visibility: hidden; */
}
#s3-s0-bg {
/* 	width: auto; */
/* 	height: 100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: 0px;
/* 	z-index:49; */
/* 	visibility:hidden; */
}

/*--------------------------- s3-ml monolog */
#s3-ml {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
/* 	visibility: hidden; */
}
#s3-ml-1, #s3-ml-2, #s3-ml-3, #s3-ml-4, #s3-ml-5, #s3-ml-6, #s3-ml-7 {
/* 	width: auto; */
/* 	height: 100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
/* 	z-index:49; */
/* 	visibility:hidden; */
}

/*--------------------------- s3-hz-s1 진평 낙원 수평 */
#s3-hz-s1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
/* 	visibility: hidden; */
}
#s3-hz-s1-bg {
	width: auto;
	height: 100%;
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: 0px;
/* 	z-index:49; */
/* 	visibility:hidden; */
}
#s3-hz-s1-jp1 {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: -280px;
/* 	z-index:50; */
/* 	visibility:hidden; */
}
#s3-hz-s1-tree1 {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: -200px;
/* 	z-index:50; */
/* 	visibility:hidden; */
}
#s3-hz-s1-tree2 {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: 0px;
/* 	z-index:50; */
/* 	visibility:hidden; */
}
#s3-hz-s1-glass {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: -150px;
/* 	z-index:50; */
/* 	visibility:hidden; */
}
/*--------------------------- s3-s1 진평 러닝 다*/
#s3-s1 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	visibility:hidden;
}

#s3-s1-bg {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height:100%; */
	position:absolute;
	top:-720px;
	left:0px;
/* 	z-index:49; */
	visibility:hidden;
}
#s3-s1-jp-top {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height:100%; */
	position:absolute;
	top:-300px;
	left:0px;
/* 	z-index:50; */
	visibility:hidden;
}
#s3-s1-jp-shadow {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height:100%; */
	position:absolute;
	top:-300px;
	left:0px;
/* 	z-index:50; */
	visibility:hidden;
}
/*--------------------------- s3-s2 진평 러닝 대각선 슬롯 */
#s3-s2 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	left:-1280px;
	top:-720px;
}
#s3-s2-slot {
	width:100%;
	height:100%;
/* 	max-width:100%; */
/* 	max-height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	z-index:51
}
#s3-s2-bg {
/* 	width:auto; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height:100%; */
	position:absolute;
	top:0px;
	left: -84px;
	z-index:49
}
#s3-s2-drop {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height:100%; */
	position:absolute;
	top: 0px;
	left: 0px;
	z-index:51
}
#s3-s2-jp-run {
/* 	height:720px; */
/* 	width:802px; */
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top: -60px;
	left: 0px;
	z-index: 50
}
#s3-s2-b1 {
/* 	height:720px; */
/* 	width:802px; */
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left: 0px;
	opacity: .0;
	z-index:52
}
#s3-s2-b2 {
/* 	height:720px; */
/* 	width:802px; */
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left: 0px;
	opacity: .0;
	z-index:53
}

/*--------------------------- s3-hz-ss run horizontal sunset */
#s3-hz-ss {
/* 	width: 100%; */
/* 	height: 100%; */
	position: absolute;
	top: 0px;
	left: 2000px;
	opacity: 0;
/* 	visibility: hidden; */
}
#s3-hz-ss-bg {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:1;
/* 	visibility:hidden; */
}
#s3-hz-ss-d3 {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: -600px;
	z-index:2;
/* 	visibility:hidden; */
}
#s3-hz-ss-d2 {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: -900px;
	z-index:3;
/* 	visibility:hidden; */
}
/* #s3-hz-ss-jp { */
/* 	height:100%; */
/* 	max-height: 100%; */
/* 	position: absolute; */
/* 	top: 0px; */
/* 	left: 0px; */
/* 	z-index:4; */
/* } */
#s3-hz-ss-jp {
	background: transparent url(../images/stage3/hz-ss/jp.png) 0 0 no-repeat;
	position: absolute;
	top: 50px;
	left: 0px;
	width: 500px;
	height: 100%;
/* 	max-height: 100%; */
	z-index: 4;
}
#s3-hz-ss-d1 {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:5;
/* 	visibility:hidden; */
}
#s3-hz-ss-jpup {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height: 100%; */
	position: absolute;
	top: 0px;
	left: 250px;
	z-index:6;
/* 	visibility:hidden; */
}

/*--------------------------- s3-s3-s1 horizontal slot */
#s3-s3-s1 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	left:1280px;
	top:720px;
	z-index:61;
	opacity: 0;
/* 	visibility:hidden; */
}
#s3-s3-s1-slot1 {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	z-index:51
}
#s3-s3-s1-bg1 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	z-index:49;
}
#s3-s3-s1-jp1 {
/* 	height:720px; */
/* 	width:1280px; */
	position:absolute;
	top:0px;
	left:-580px;
	z-index:50;
	visibility:hidden;
}
#s3-s3-s2 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	left:0px;
	top:0px;
	z-index:62;
/* 	visibility:hidden; */
	opacity: 0;
}
#s3-s3-s2-slot2 {
/* 	width:100%; */
/* 	height:100%; */
/* 	max-width:100%; */
/* 	max-height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	z-index:54;
}
#s3-s3-s2-bg2 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	z-index:52;
}
/* #s3-s3-s2-jp2 { */
/* 	position:absolute; */
/* 	top:-100px; */
/* 	left:100px; */
/* 	z-index:53; */
/* } */
/* #s3-s3-s2-jp3 { */
/* 	position:absolute; */
/* 	top:-100px; */
/* 	left:100px; */
/* 	z-index:53; */
/* } */
#s3-s3-s2-jp2 {
	background: transparent url(../images/stage3/3/jp.png) 0 0 no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 100%;
/* 	max-height: 100%; */
	z-index: 53;
}
/*--------------------------- s3-s4 진평 비상구 */
#s3-s4 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	left:0px;
	top:720px;
	visibility: hidden;
}
#s3-s4-ex-wide {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
/* 	z-index:340; */
}
#s3-s4-ex-zoom {
/* 	width:100%; */
/* 	height:100%; */
	visibility: hidden;
	position:absolute;
	top:-720px;
	left:0px;
/* 	z-index:348; */
}
#s3-s4-sand {
/* 	width:100%; */
/* 	height:100%; */
/* 	visibility: hidden; */
	position:absolute;
	top:0px;
	left:0px;
/* 	z-index:347; */
	opacity:0;
}
#s3-s4-er1 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
/* 	z-index:346; */
	opacity:0;
}
#s3-s4-er2 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
/* 	z-index:345; */
	opacity:0;
}
#s3-s4-er3 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
/* 	z-index:344; */
	opacity:0;
}
#s3-s4-er4 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
/* 	z-index:343; */
	opacity:0;
}
#s3-s4-jp {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:342; */
}
#my_camera {
/* 	width:50%; */
/* 	height:50%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
/* 	z-index:342; */
}
#s3-s4-glass {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:342; */
}
#s3-s4-glass-tp {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:342; */
}
/*--------------------------- 진평 뱅뱅 */
#s3-s5 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	left:0px;
	top:720px;
	visibility: hidden;
}
#s3-s5-b0 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	visibility: hidden; */
/* 	z-index:340; */
}
#s3-s5-b1 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
/* 	visibility: hidden; */
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b2 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b3 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b4 {
/* 	width:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b5 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b6 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b7 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b8 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b9 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b10 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}
#s3-s5-b10-g0, #s3-s5-b10-g1, #s3-s5-b10-g2, #s3-s5-b10-g3 {
/* 	width:100%; */
/* 	height:100%; */
	position:absolute;
	top:0px;
	left:0px;
	opacity:.0;
/* 	z-index:340; */
}

/* --------------------------- jp zoom out */
#s3-s6 {
/* 	width:100%; */
/* 	height:100%; */
	position: absolute;
	left: 0px;
	top: 0px;
/* 	opacity:.0; */
	visibility: hidden;
/* visibility: visible; */
/* color:#ccc */
/* z-index:999; */
}
#s3-s6-jp {
/* 	width:100%; */
/* 	height:100%; */
	position: absolute;
	top: 0px;
	left: 0px;
	opacity:.0;
}

/* --------------------------- stage 3 ending */
#s3-s7 {
/* 	width:100%; */
/* 	height:100%; */
	position: absolute;
	left: 0px;
	top: 0px;
	opacity:.0;
/* 	visibility: hidden; */
/* visibility: visible; */
/* color:#ccc */
/* z-index:999; */
}
#s3-s7-bg {
/* 	width:100%; */
/* 	height:100%; */
	position: absolute;
	top: 0px;
	left: 0px;
}
/*---------------------------*/
/*---------------------------*/
/*---------------------------*/